$primary500: #009688;
$primary50: #e0f2f1;
$primary100: #b2dfdb;
$primary200: #80cbc4;
$primary300: #4db6ac;
$primary400: #26a69a;
$primary600: #00897b;
$primary700: #00796b;
$primary800: #00695c;
$primary900: #004d40;
$secondary500: #ff9800;
$secondary50: #fff3e0;
$secondary100: #ffe0b2;
$secondary200: #ffcc80;
$secondary300: #ffb74d;
$secondary400: #ffa726;
$secondary600: #fb8c00;
$secondary700: #f57c00;
$secondary800: #ef6c00;
$secondary900: #e65100;

$backgroundDefault: #fafafa;
$backgroundDefaultDark: #303030;
$backgroundPaper: white;
$backgroundPaperDark: #424242;
$textPrimary: rgba(black, 0.87);
$textPrimaryDark: white;
$textSecondary: rgba(black, 0.54);
$textSecondaryDark: rgba(white, 0.7);
$textDisabled: rgba(black, 0.38);
$textDisabledDark: rgba(white, 0.5);
$secondaryDark: #cb8926;
$secondary200Dark: #be914d;

$footerMainColor: white;
$colorBlack: #000000;
$colorRobotoLightBody2: rgba(0, 0, 0, 0.6);
$colorLightGrey: rgba(0, 0, 0, 0.12);
$colorLightGrey100: rgba(0, 0, 0, 0.14);
$colorLightGrey200: rgba(0, 0, 0, 0.2);
$colorTitle: #c4c4c4;
$errorColorLight: #d15757;
